

spring:
  application:
    name: index-gateway-service
  cloud:
    gateway:
      enabled: true
      discovery:
        locator:
          enabled: true
          lower-case-service-id: false
      routes:
        - id: INDEX-CODES-SERVICE
          uri: lb://INDEX-CODES-SERVICE
          predicates:
            - Path=/api-codes/**
          filters:
            - StripPrefix=1
        - id: TREND-TRADING-BACKTEST-SERVICE
          uri: lb://TREND-TRADING-BACKTEST-SERVICE
          predicates:
            - Path=/api-backtest/**
          filters:
            - StripPrefix=1



eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
