eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/


spring:
  application:
    name: trend-trading-backtest-view
  thymeleaf:
    mode: LEGACYHTML5
    encoding: UTF-8
    content-type: text/html
    cache: false
  sleuth:
    sampler:
      probability: 1.0
  zipkin:
    sender:
      type: rabbit
    rabbitmq:
      addresses: 127.0.0.1:5672
      queue: zipkin
      username: admin
      password: pass.123
  rabbitmq:
    host: localhost
    username: admin
    password: pass.123
    port: 5672
server:
  port: 8051
